.aside {
  width: 350px;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.menu {
  padding: 20px;
  border-radius: 20px;
  background-color: darkblue;
  color: white;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  list-style-type: none;
}

.button {
  height: 80px;

  border: 1px solid teal;
  border-radius: 20px;
  background-color: transparent;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  color: teal;
  cursor: pointer;
}